@use "../../foundation/mixin" as m;
@use "../../foundation/functions" as f;

/**
 * c-btn01
 * 通常ボタン
 */
.c-btn01 {
	width: 100%;
	max-width: f.r(240);
	margin: f.r(30) auto 0;
	.c-btn01__link {
		display: grid;
		place-items: center;
		border-radius: 9999px;
		border: 1px solid;
		padding: f.r(5);
	}
	@include m.m {
		margin: f.r(50) auto 0;
		max-width: f.r(300);
	}
}
