@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-nav
 */
.l-nav {
}

@include m.m(-md) {
	// ダイアログ部分
	.l-nav__container {
		position: fixed;
		top: 0;
		left: 0;
		left: auto;
		width: 100%;
		transition: opacity var(--duration);
		translate: 0;
		&::backdrop {
			transition: opacity var(--duration);
		}

		// メニューを表示する前後のスタイル
		&.is-open,
		&.is-close {
			opacity: 0;
			&::backdrop {
				opacity: 0;
			}
		}
		&::backdrop {
			background: rgb(255 255 255 / 0.5);
			backdrop-filter: blur(3px);
		}
	}
	// ハンバーガーボタン
	.l-nav__hamburger {
		position: fixed;
		top: f.r(10);
		right: f.r(10);
		z-index: 1;
		width: f.r(40);
		height: f.r(40);
		border: 1px solid;
		background: white;

		// 閉じるボタン
		&.-close {
			.l-nav__hamburger-icon {
				background: transparent;
				&::before {
					top: 0;
					rotate: 135deg;
				}
				&::after {
					top: 0;
					rotate: -135deg;
				}
			}
		}
	}
	.l-nav__hamburger-icon {
		position: absolute;
		top: 50%;
		left: f.r(4);
		width: f.r(30);
		height: 1px;
		background: rgb(var(--black));
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: inherit;
			height: inherit;
			background: rgb(var(--black));
			transition: inherit;
		}
		&::before {
			top: f.r(-9);
		}
		&::after {
			top: f.r(9);
		}
	}
	// メニュー部分
	.l-nav__list {
		padding: f.r(50) f.r(25);
		box-sizing: border-box;
		background: white;
	}
	.l-nav__list-item {
	}
	.l-nav__list-link {
		padding: 0.5em 0;
	}
}

@include m.m {
	// メニュー部分
	.l-nav__pc {
		display: flex;
		align-items: center;
		height: 100%;
	}
	.l-nav__list {
		display: flex;
		gap: f.r(30);
	}
	.l-nav__list-item {
	}
	.l-nav__list-link {
	}
}
