@use "../foundation/mixin" as m;
@use "../foundation/functions" as f;

/**
 * l-pagetop
 */
.l-pagetop {
	opacity: 0;
	position: fixed;
	right: f.r(30);
	bottom: f.r(30);
	color: rgba(var(--black));
	transition: opacity .3s;
	&.is-show {
		opacity: 1;
	}
	&.is-stop {
		position: absolute;
	}
	.l-pagetop__link {
		display: block;
		width: f.r(40);
		height: f.r(40);
		overflow: hidden;
		border: 1px solid;
		border-radius: 50%;
		text-indent: -9999em;
		&::before {
			content: '';
			position: absolute;
			top: calc(50% + f.r(2));
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
			width: f.r(10);
			height: f.r(10);
			border-top: f.r(2) solid;
			border-right: f.r(2) solid;
		}
	}
	@include m.m {
		.l-pagetop__link {
			width: f.r(50);
			height: f.r(50);
		}
	}
}
